.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    padding-bottom: 30px;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.not-accepted,
.no-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 20px;
    padding: 0 10px;
    font-weight: bold;
    word-break: break-word;
}

.message {
    margin-top: 30px;
    padding-right: 10px;
}

.message-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-date {
    color: rgb(206, 206, 206);
}

.delete,
.message-loading {
    margin-left: 60px;
    border: none;
    background-color: inherit;
    padding: 0;
    display: block;
    margin-bottom: 10px;
}

.delete {
    color: rgb(255, 78, 78);
    cursor: pointer;
}

.delete:hover {
    color: rgb(124, 69, 69);
}

.content {
    margin-left: 60px;
}

.image {
    max-width: 100%;
}

.message-loading-spin {
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 400px) {
    .message-top {
        flex-direction: column;
        align-items: flex-start;
    }
    .message-date {
        margin: 0 0 10px 60px;
    }
}

@media (max-height: 550px) {
    .container {
        overflow-y: inherit;
        position: relative;
    }
}
