.wrapper {
    position: relative;
    flex: 1;
    margin-top: 20px;
    transition: 0.3s;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 100px 50px 50px 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.toggle {
    display: none;
    background-color: inherit;
    border: none;
    color: whitesmoke;
    font-size: 40px;
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 2;
}

.heading {
    text-align: center;
    word-break: break-all;
    margin-bottom: 10px;
}

.private {
    text-align: center;
    margin-bottom: 10px;
}

.leave,
.join {
    border: none;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.1s;
    margin-top: 10px;
    border-radius: 4px;
}

.leave:disabled,
.join:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.join {
    color: white;
    background-color: rgb(90, 150, 135);
}

.join:hover {
    background-color: rgb(114, 174, 160);
}

.leave {
    color: white;
    background-color: rgb(179, 115, 86);
}

.leave:hover {
    background-color: rgb(204, 140, 111);
}

@media (max-width: 1000px) {
    .wrapper {
        background-color: #191e1f;
        border-left: 1px solid #2c2c2c;
        position: fixed;
        right: -350px;
        min-height: 100vh;
        z-index: 1;
    }
    .toggle {
        display: block;
    }
    .open {
        right: 0;
    }
}
