.input {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: rgb(24, 24, 28);
    transition: 0.1s;
    color: whitesmoke;
    border: none;
    box-shadow: 0 0 1px grey;
    font-weight: bold;
    border-radius: 4px;
}

.input:focus {
    box-shadow: 0 0 3px grey;
    outline: none;
}

.input:hover {
    box-shadow: 0 0 3px grey;
}

.submit,
.make-public,
.make-private {
    border: none;
    font-weight: bold;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    transition: 0.1s;
    border-radius: 4px;
}

.submit {
    background-color: rgb(90, 150, 135);
}

.make-public,
.make-private {
    margin-top: 10px;
}

.make-public,
.make-private:hover {
    background-color: rgb(14, 85, 99);
}

.submit:hover {
    background-color: rgb(114, 174, 160);
}

.make-private,
.make-public:hover {
    background-color: rgb(12, 74, 87);
}

.submit:disabled,
.make-public:disabled,
.make-private:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
