.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    min-height: 100vh;
    padding: 50px;
}

.heading {
    letter-spacing: 3px;
    font-style: italic;
    margin-bottom: 15px;
}

.left {
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.oauth-buttons {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
