.form {
    max-width: 300px;
    width: 100%;
}

.name {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 20px 0 10px 0;
    background-color: rgb(24, 24, 28);
    transition: 0.1s;
    color: whitesmoke;
    border: none;
    box-shadow: 0 0 1px grey;
    font-weight: 500;
    border-radius: 4px;
}

.name:focus {
    box-shadow: 0 0 3px grey;
    outline: none;
}

.name:hover {
    box-shadow: 0 0 3px grey;
}

.checkbox-container {
    font-weight: bold;
    display: flex;
    gap: 5px;
    align-items: center;
}

.submit {
    border: none;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    transition: 0.1s;
    border-radius: 4px;
}

.submit {
    background-color: rgb(90, 150, 135);
}

.submit:hover {
    background-color: rgb(114, 174, 160);
}

.submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
